.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgb(167, 159, 161) !important;
}

#navbarNavDropdown{
    display: block; 
    justify-content: flex-end;
}
.div-podcast{
    display: flex;
    justify-content: center;
}
.section-podcast{
    background-color: #cfb3b3be;
}    