<!-- <link rel="stylesheet" href="./header.component.css" />
<nav class="frases">
  <div class="frase-dia">
    <p class="frase">
      {{ frase }}
    </p>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img
    class="logo-resilience"
    src="../../assets/img/logo.jpg"
    alt="logoEafit"
  />
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">RESILIENCE BY UNIVERSIDAD EAFIT</a> -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#footer">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Bienestar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#main">Formacion Y Desarrollo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sing up">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="login" routerLink="/login">Iniciar sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- carousel -->

<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="../../assets/img/imagen1.jpg" class="d-block w-100" alt="" />
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/nosotros.jpg" class="d-block w-100" alt="" />
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/system.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item active day-img">
      <h1>{{frase}}</h1>
      <br>
      <h3>{{autor.slice(1,-1)}}</h3>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev" 
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- podcast -->
<section class="section-podcast">

  <div class="contenedor" (mouseleave)="handleMouseOver()">
    <button id="botonF1" (mouseenter)="handleMouseEnter()">
      <span>+</span>
    </button>
    <button class="btn" id="botonF2">
      <span routerLink="/test" class="bi bi-list-check"></span>
    </button>
    <button class="btn" id="botonF3">
      <a href="https://open.spotify.com/show/4iIu7ScTmDR7AYGvMUcKCb?si=d136e8b3cf814a7e" style=""><span class="bi bi-spotify icon-green"></span></a>
    </button>
    <button class="btn" id="botonF4">
      <span class="bi bi-whatsapp"></span>
    </button>
  </div>

  <!-- <audio src=".mp3" preload="none" controls></audio>
    <audio src=".ogg" autoplay loop></audio> -->
</section>
