<div>
  <h3>test de orientacion</h3>
</div>

<div class="test">
  <section id="p0">
    <h3>pregunta1</h3>
    <label> <input type="radio" value="1" name="p0" />1 </label>
    <label> <input type="radio" value="2" name="p0" />2 </label>
    <label> <input type="radio" value="3" name="p0" />3 </label>
  </section>
  <section id="p1">
    <h3>pregunta2</h3>
    <label> <input type="radio" value="1" name="p1" />1 </label>
    <label> <input type="radio" value="2" name="p1" />2 </label>
    <label> <input type="radio" value="3" name="p1" />3 </label>
  </section>
  <section id="p2">
    <h3>pregunta3</h3>
    <label> <input type="radio" value="1" name="p2" />1 </label>
    <label> <input type="radio" value="2" name="p2" />2 </label>
    <label> <input type="radio" value="3" name="p2" />3 </label>
  </section>
  <section id="p3">
    <h3>pregunta4</h3>
    <label> <input type="radio" value="1" name="p3" />1 </label>
    <label> <input type="radio" value="2" name="p3" />2 </label>
    <label> <input type="radio" value="3" name="p3" />3 </label>
  </section>
  <section id="p4">
    <h3>pregunta5</h3>
      <label> <input type="radio" value="1" name="p4" />1 </label>
      <label> <input type="radio" value="2" name="p4" />2 </label>
      <label> <input type="radio" value="3" name="p4" />3 </label>
    </section>

    <button>ENVIAR</button>
    <h2>estas son las recomendaciones:
    </h2>
</div>
