<link rel="stylesheet" href="main.component.css" />

<br />

<div>
  <!-- <h3 id="nose">
    Somos RESILIENCE by EAFIT, una plataforma creada pensando en tu bienestar
    mental, físico, espiritual, emocional y energético.
  </h3> -->
</div>
<h2 id="course-title">Formacion Y Desarrollo</h2>
<br>
<div class="cards">
  <div class="card" *ngFor="let curso of cursos">
    <img src="{{curso.img}}" class="card-img-top" alt="...">
    <div class="card-body" >
      <h5 class="card-title">{{curso.title}}</h5>
      <p class="card-text">{{curso.descripcion}}</p>
      <a href="#" class="btn btn-primary">Ver más</a>
    </div>
  </div>
</div>



