@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');

*{
    font-family: 'Rajdhani', sans-serif;
}

#nose{
    text-align: center;
    margin: 0px auto ;
    padding: 20px ;
    border-radius: 6px solid;
    background-position: center;
    color: blueviolet;
}

#course-title{
    text-align: center;
}

.cards{
    padding-left: 27px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 250px;
}
.card-img-top{
    height: 243px;
    width: 245px;
}