<link rel="stylesheet" href="main.component.css" />

<br />

<div>
  <h3 id="nose">
    Somos RESILIENCE by EAFIT, una plataforma creada pensando en tu bienestar
    mental, físico, espiritual, emocional y energético.
  </h3>
</div>

<div>

  <h4 id="">cursos para tu bienestar</h4>

  <div class="card" style="width: 18rem">
    <img src="../../assets/img/ejercicio1.jpg" class="card-img-top" alt="" height="200px" width="50px" />
    <div class="card-body">
      <h5 class="card-title">ejercicios fisicos</h5>
      <p class="card-text">
        en este curso podras tener acceso a contenido relacionado a algunos
        ejercicios que puedes hacer en cualquier momento.
      </p>
      <a href="#" class="btn btn-primary">Ver Mas</a>
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img src="../../assets/img/pazMental.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Paz Mental</h5>
      <p class="card-text">
        puedes tener algunas guias para poder alcanzar la paz mental.
      </p>
      <a href="#" class="btn btn-primary">Ver Mas</a>
    </div>
  </div>
</div>


<div class="container">   
    <div class="card-group mt-3">

      <div class="card text-center border-info">
        <div class="card-body">
          <h4 class="card-title">Titulo de la tarjeta 1</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lectus sem, 
                                tempor vitae mattis malesuada, ornare sed erat. Pellentesque nulla dui, congue
                                nec tortor sit amet, maximus mattis dui. </p>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>          

      <div class="card text-center border-info">
        <div class="card-body">
          <h4 class="card-title">Titulo de la tarjeta 2</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lectus sem, 
                                tempor vitae mattis malesuada, ornare sed erat. Pellentesque nulla dui, congue
                                nec tortor sit amet, maximus mattis dui. </p>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>          
  
      <div class="card text-center border-info">
        <div class="card-body">
          <h4 class="card-title">Titulo de la tarjeta 3</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lectus sem, 
                                tempor vitae mattis malesuada, ornare sed erat. Pellentesque nulla dui, congue
                                nec tortor sit amet, maximus mattis dui. </p>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>          

    </div>
  </div>  
