<link rel="stylesheet" href="main.component.css" />

<br />

<div class="d-flex flex-column justify-content-center align-items-center bg-light p-5">
  <h3 id="about">
    Somos RESILIENCE by EAFIT, una plataforma creada pensando en tu bienestar mental, 
    físico, espiritual, emocional y energético. Nuestra misión es brindarte un espacio 
    con el cual te sientas identificado y acompañado, donde encontrarás cursos, artículos 
    educativos, tips, entre otros.
  </h3>
  <button class="btn btn-secondary btn-sm" >Conoce más sobre RESILIENCE</button>
</div>
<br>
<h2 id="course-title">Cursos para tu bienestar</h2>
<br>
<div class="cards">
  <div class="card" *ngFor="let curso of cursos">
    <img src="{{curso.img}}" class="card-img-top" alt="...">
    <div class="card-body" >
      <h5 class="card-title">{{curso.title}}</h5>
      <p class="card-text">{{curso.descripcion}}</p>
      <a href="#" class="btn btn-primary">Ver más</a>
    </div>
  </div>
</div>
<div class="elfsight-app-c692d010-9f18-4c02-9da9-1034eef5cdf8 p-5"></div>