<!-- <p>landing-page works!</p> -->
<div class="row">
  <div class="col-md-12" id="encabezado1">
    <app-header></app-header>
  </div>
  <div class="col-md-12" id="quienes_somos">
    <app-main></app-main>
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="promociones">
    <app-footer></app-footer>
  </div>
  <!-- <div class="col-md-12" id="resenas"><app-resenas></app-resenas></div> -->
</div>
<!-- <div class="row">
  <div class="col-md-12" id="footer"><app-footer></app-footer></div>
</div> -->
